#footer {
  padding-block: 60px;
  background: #393939;
  .footer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .center-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style: none;
        li {
          font-size: 17px;
        }
      }
    }
    nav:last-child {
      .icons {
        display: flex;
        gap: 15px;
        span {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  #footer {
    .footer {
      flex-wrap: wrap;
    }
  }
}
