#event {
  padding-block: 50px;
  .event {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    .event-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      .line {
        height: 1px;
        background: #0000008f;
        width: 100%;
      }
    }
    .event-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 14px;
      .card {
        width: 310px;
        height: 490px;
        padding: 20px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 10px;
        img {
          width: 100%;
          max-height: 370px;
          border-radius: 20px;
        }
      }
    }
    button {
      align-self: center;
    }
  }
}
@media (max-width: 768px) {
  #event {
    .event {
      .event-list {
        .card {
          width: 260px;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  #event {
    .event {
      .event-list {
        justify-content: center;
        .card {
          width: 310px;
        }
      }
    }
  }
}
